In [1]:
# Importing all important Libraries

import pandas as pd

import numpy as np

import seaborn as sns

import matplotlib as plt

import warnings

warnings.filterwarnings('ignore')

from IPython import display

pd.set_option('display.max_columns',None)

pd.set_option('display.max_rows',None)

## Data Preprocessing :

In [2]:
df = pd.read_csv('weather1 (2).csv')
df.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  FALSE  yes
1  overcast        cool   normal   TRUE  yes
2  overcast        mild     high   TRUE  yes
3  overcast         hot   normal  FALSE  yes
4     rainy        mild     high  FALSE  yes

## Data Preprocessing :

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      29 non-null     object
 1   temperature  31 non-null     object
 2   humidity     30 non-null     object
 3   windy        30 non-null     object
 4   play         26 non-null     object
dtypes: object(5)
memory usage: 1.8+ KB

In [4]:
df.describe()

       outlook temperature humidity  windy play
count       29          31       30     30   26
unique       7           9        7      7    3
top      rainy        mild   normal  FALSE  yes
freq        10          11       12     14   14

In [5]:
df.nunique()

outlook        7
temperature    9
humidity       7
windy          7
play           3
dtype: int64

In [6]:
df.axes

[RangeIndex(start=0, stop=43, step=1),
 Index(['outlook', 'temperature', 'humidity', 'windy', 'play'], dtype='object')]

In [7]:
df.shape

(43, 5)

In [8]:
df.columns

Index(['outlook', 'temperature', 'humidity', 'windy', 'play'], dtype='object')

In [9]:
df.shape

(43, 5)

In [10]:
df.dtypes

outlook        object
temperature    object
humidity       object
windy          object
play           object
dtype: object

In [11]:
df.isna().sum()

outlook        14
temperature    12
humidity       13
windy          13
play           17
dtype: int64

## outlook :

In [12]:
df['outlook'].dtypes

dtype('O')

In [16]:
df['outlook'].fillna(33333,inplace= True)

In [17]:
df['outlook'].isna().sum()

0

## temprature :

In [18]:
df['temperature'].dtypes

dtype('O')

In [19]:
df['temperature'].fillna(11111,inplace =True)

In [20]:
df['temperature'].isna().sum()

0

## humidity :

In [22]:
df['humidity'].dtypes

dtype('O')

In [23]:
df['humidity'].fillna(99999,inplace = True)

In [24]:
df['humidity'].isna().sum()

0

## windy :

In [26]:
df['windy'].dtypes

dtype('O')

In [27]:
df['windy'].fillna(77777,inplace =True)

In [28]:
df['windy'].isna().sum()

0

## play :

In [30]:
df['play'].dtypes

dtype('O')

In [31]:
df['play'].fillna(44444,inplace=True)

In [32]:
df['play'].isna().sum()

0

In [33]:
df.isna().sum()

outlook        0
temperature    0
humidity       0
windy          0
play           0
dtype: int64

## Compairing Numerical Feature with Categorical Features :

In [34]:
df.select_dtypes(include = 'object').head()

    outlook temperature humidity  windy play
0  overcast         hot     high  FALSE  yes
1  overcast        cool   normal   TRUE  yes
2  overcast        mild     high   TRUE  yes
3  overcast         hot   normal  FALSE  yes
4     rainy        mild     high  FALSE  yes

In [35]:
df.select_dtypes(exclude = 'object').head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

## Using groupby :

In [37]:
df.groupby('play').first().head()

        outlook  temperature  humidity  windy
play
44444     33333        11111     99999  77777
no        rainy         cool    normal   TRUE
play    outlook  temperature  humidity  windy
yes    overcast          hot      high  FALSE

## Compairing two features :

In [38]:
pd.crosstab(df['humidity'],df['windy']).head()

windy,77777,FALSE,False: 3Y and 0N,False: 6Y & 2N,TRUE,True: 0Y and 2N,True: 3Y & 3N,windy
humidity,,,,,,,,
99999,13,0,0,0,0,0,0,0
high,0,7,0,0,5,0,0,0
high: 1Y and 1N,0,0,0,0,0,1,0,0
high: 3Y & 4N,0,0,0,0,0,0,1,0
humidity,0,0,0,0,0,0,0,2

## Handling Outliers :

In [ ]:
# There are no outliers present in the dataset

## Linearity :

In [44]:
import matplotlib
import seaborn
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
df.dtypes

outlook        object
temperature    object
humidity       object
windy          object
play           object
dtype: object

In [46]:
df.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  FALSE  yes
1  overcast        cool   normal   TRUE  yes
2  overcast        mild     high   TRUE  yes
3  overcast         hot   normal  FALSE  yes
4     rainy        mild     high  FALSE  yes

In [47]:
r = df.corr()
r

Empty DataFrame
Columns: []
Index: []

In [ ]:
plt.figure(figsize = (3,10))
sns.heatmap(r,annot = True)

## Multicollinearity :

In [ ]:
df1 = df.drop('temprature',axis = 1)
df1.head()

In [50]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif_list = []
for i in range(df.shape[1]) :
    vif = variance_inflation_factor(df,i)
    vif_list.append(vif)
    print(vif_list)

## Model Building :

In [51]:
from sklearn.linear_model import LinearRegression

In [ ]:
x = df.drop('temprature',axis = 1)
y = df['temprature']

In [53]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2 , random_state=42)

In [44]:
model = LinearRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred_train = model.predict(x_train)